Repository raba-jp/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: rb-format, sh-format

rb-format:
  run: bundle exec rufo {staged_files}

sh-format:
  run: shfmt -l -w {staged_files}

Update
  README.md
Due: none

Update
  install.sh
  nodes/arch.json
Due: sh-format

Update
  bootstrap.rb
  cookbooks/cli/darwin.rb
  cookbooks/cli/default.rb
  cookbooks/cli/manjaro.rb
  cookbooks/docker/darwin.rb
  cookbooks/docker/default.rb
  cookbooks/docker/manjaro.rb
  cookbooks/fish/default.rb
  cookbooks/fish/manjaro.rb
  cookbooks/os/darwin.rb
  cookbooks/os/default.rb
  cookbooks/os/manjaro.rb
  cookbooks/vim/darwin.rb
  cookbooks/vim/default.rb
  cookbooks/vim/manjaro.rb
  cookbooks/vscode/darwin.rb
  cookbooks/vscode/manjaro.rb
  cookbooks/vscode/post_exec.rb
  definitions/pkg.rb
  roles/arch.rb
Due: rb-format

Update
  cookbooks/cli/darwin.rb
  cookbooks/cli/default.rb
  cookbooks/cli/manjaro.rb
Due: rb-format

Update
  bootstrap.rb
Due: rb-format

Update
  cookbooks/alacritty/manjaro.rb
  definitions/pkg.rb
  nodes/darwin.json
Due: rb-format

Update
  cookbooks/vim/default.rb
Due: rb-format

Update
  config/volt/lock.json
Due: none

Update
  config/Code/User/settings.json
Due: none

Update
  cookbooks/vscode/post_exec.rb
Due: rb-format

Update
  config/fish/config.fish
  config/volt/lock.json
  config/volt/plugconf/github.com/wakatime/vim-wakatime.vim
Due: none

Update
  config/alacritty/alacritty.yml
Due: none

Update
  cookbooks/alacritty/darwin.rb
  cookbooks/alacritty/default.rb
  definitions/pkg.rb
Due: rb-format

Update
  cookbooks/cli/darwin.rb
  definitions/pkg.rb
Due: rb-format

Update
  cookbooks/docker/default.rb
  cookbooks/docker/manjaro.rb
Due: rb-format

Update
  cookbooks/cli/darwin.rb
  cookbooks/vscode/darwin.rb
Due: rb-format

Update
  bootstrap.rb
  config/fish/config.fish
  nodes/darwin.json
Due: rb-format

Update
  config/fish/config.fish
Due: none

Update
  config/Code/User/projects.json
  config/Code/User/settings.json
  config/fish/config.fish
  cookbooks/cli/manjaro.rb
  cookbooks/vscode/post_exec.rb
Due: rb-format

Update
  bootstrap.rb
  cookbooks/dart/default.rb
  cookbooks/dart/manjaro.rb
  cookbooks/fish/default.rb
Due: rb-format

Update
  cookbooks/fish/default.rb
Due: rb-format

Update
  cookbooks/os/manjaro.rb
Due: rb-format

Update
  cookbooks/cli/manjaro.rb
Due: rb-format

Update
  bootstrap.rb
  config/Code/User/settings.json
  config/fish/config.fish
  config/git/config
  cookbooks/hammerspoon/darwin.rb
  cookbooks/hammerspoon/default.rb
Due: rb-format

Update
  config/Code/User/projects.json
  config/alacritty/alacritty.yml
  cookbooks/docker/darwin.rb
Due: rb-format

Update
  config/git/config
Due: none

Update
  config/volt/lock.json
  config/volt/plugconf/github.com/Shougo/defx.nvim.vim
  config/volt/plugconf/github.com/Shougo/denite.nvim.vim
Due: none

Update
  config/vim/init.vim
  config/volt/lock.json
  config/volt/plugconf/github.com/ctrlpvim/ctrlp.vim.vim
  config/volt/plugconf/github.com/lambdalisue/fern.vim.vim
  config/volt/plugconf/github.com/mattn/ctrlp-matchfuzzy.vim
Due: none

Update
  config/Code/User/projects.json
  config/vim/init.vim
  config/volt/lock.json
  config/volt/plugconf/github.com/altercation/vim-colors-solarized.vim
  config/volt/plugconf/github.com/ctrlpvim/ctrlp.vim.vim
  config/volt/plugconf/github.com/easymotion/vim-easymotion.vim
  config/volt/plugconf/github.com/editorconfig/editorconfig-vim.vim
  config/volt/plugconf/github.com/haya14busa/vim-edgemotion.vim
  config/volt/plugconf/github.com/itchyny/lightline.vim.vim
  config/volt/plugconf/github.com/kristijanhusak/defx-git.vim
  config/volt/plugconf/github.com/kristijanhusak/defx-icons.vim
  config/volt/plugconf/github.com/lambdalisue/fern.vim.vim
  config/volt/plugconf/github.com/lifepillar/vim-solarized8.vim
  config/volt/plugconf/github.com/mattn/ctrlp-matchfuzzy.vim
  config/volt/plugconf/github.com/mattn/vim-lsp-settings.vim
  config/volt/plugconf/github.com/prabirshrestha/async.vim.vim
  config/volt/plugconf/github.com/prabirshrestha/asyncomplete-lsp.vim.vim
  config/volt/plugconf/github.com/prabirshrestha/asyncomplete.vim.vim
  config/volt/plugconf/github.com/prabirshrestha/vim-lsp.vim
  config/volt/plugconf/github.com/roxma/nvim-yarp.vim
  config/volt/plugconf/github.com/roxma/vim-hug-neovim-rpc.vim
  config/volt/plugconf/github.com/sheerun/vim-polyglot.vim
  config/volt/plugconf/github.com/vim-jp/vimdoc-ja.vim
  config/volt/plugconf/github.com/wakatime/vim-wakatime.vim
  config/volt/rc/default/vimrc.vim
  config/volt/rc/truecolor/vimrc.vim
  cookbooks/vim/default.rb
Due: rb-format

Update
  config/vim/init.vim
Due: none

Update
  bootstrap.rb
  cookbooks/git/default.rb
  definitions/pkg.rb
Due: rb-format

Path conditions:
  rb-format: any of: *.rb
  sh-format: any of: *.sh
