Repository raba-jp/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: rb-format, sh-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rb-format:
      glob: "*.rb"
      run: bundle exec rufo {staged_files}
    sh-format:
      glob: "*.sh"
      run: shfmt -l -w {staged_files}

Update
  cookbooks/manjaro/default.rb
Due: rb-format

Update
  cookbooks/vim/default.rb
Due: rb-format

Update
  cookbooks/hammerspoon/default.rb
Due: rb-format

Update
  cookbooks/fish/default.rb
Due: rb-format

Update
  cookbooks/fish/files/config.fish
Due: none

Add neovim
  cookbooks/vim/default.rb
  cookbooks/vim/files/init.vim
Due: rb-format

Update
  cookbooks/vim/default.rb
  cookbooks/vim/files/init.lua
  cookbooks/vim/files/lua/commands.lua
  cookbooks/vim/files/lua/keybindings.lua
  cookbooks/vim/files/lua/plugins.lua
  cookbooks/vim/files/lua/treesitter.lua
  cookbooks/vim/files/lua/ui.lua
Due: rb-format

Update
  bootstrap.rb
  cookbooks/lua/default.rb
  cookbooks/manjaro/default.rb
  cookbooks/vim/files/init.lua
  cookbooks/vim/files/lua/lsp.lua
  cookbooks/vim/files/lua/plugins.lua
Due: rb-format

Update
  README.md
Due: none

Update
  cookbooks/vim/files/init.lua
Due: none

Update
  cookbooks/vim/files/lua/keybindings.lua
  cookbooks/vim/files/lua/lsp.lua
  cookbooks/vim/files/lua/plugins.lua
  cookbooks/vim/files/lua/treesitter.lua
  cookbooks/vim/files/lua/ui.lua
Due: none

Update
  cookbooks/vim/files/lua/plugin_telescope.lua
  cookbooks/vim/files/lua/plugin_treesitter.lua
  cookbooks/vim/files/lua/plugins.lua
Due: none

Update
  cookbooks/vim/files/lua/commands.lua
  cookbooks/vim/files/lua/lsp.lua
  cookbooks/vim/files/lua/plugin_formatter.lua
  cookbooks/vim/files/lua/plugins.lua
Due: none

Update
  home-manager/alacritty.nix
  home-manager/config.nix
  home-manager/fish.nix
  home-manager/git.nix
  home-manager/home.nix
  home-manager/tmux.nix
  overlays/default.nix
  overlays/fonts/cica.nix
  overlays/fonts/default.nix
Due: none

Update
  configuration.nix
Due: none

Update
  init.sh
Due: sh-format

Update
  home-manager/home.nix
  nixos/boot.nix
  nixos/configuration.nix
  nixos/localize.nix
  nixos/networking.nix
Due: none

Update
  home-manager/home.nix
  nixos/configuration.nix
  nixos/gui.nix
  nixos/pkgs.nix
  nixos/sound.nix
  nixos/users.nix
  nixos/virtualization.nix
Due: none

Update
  home-manager/home.nix
  home-manager/vim.nix
  nixos/users.nix
Due: none

Update
  cookbooks/alacritty/default.rb
  cookbooks/alacritty/files/alacritty.yml
  cookbooks/docker/default.rb
  cookbooks/docker/manjaro.rb
  cookbooks/fish/default.rb
  cookbooks/fish/files/config.fish
  cookbooks/fish/files/fish_plugins
  cookbooks/fish/files/gcloud_completion.py
  cookbooks/git/default.rb
  cookbooks/git/files/config
  cookbooks/git/files/ignore
  cookbooks/git/files/tig_config
  home-manager/home.nix
Due: rb-format

Update
  cookbooks/gnome3/default.rb
  cookbooks/go/default.rb
  cookbooks/lua/default.rb
  cookbooks/manjaro/default.rb
  cookbooks/manjaro/files/xprofile
  cookbooks/node/default.rb
  cookbooks/ruby/default.rb
  cookbooks/rust/default.rb
  cookbooks/tmux/default.rb
  cookbooks/tmux/files/tmux.conf
  cookbooks/vscode/default.rb
  home/alacritty.nix
  home/config.nix
  home/fish.nix
  home/git.nix
  home/home.nix
  home/tmux.nix
  home/vim.nix
  nixos/gui.nix
  nixos/localize.nix
  nixos/networking.nix
  nixos/users.nix
Due: rb-format

Update
  bin/colortest
Due: none

Update
  home/home.nix
  nixos/boot.nix
  nixos/configuration.nix
  nixos/gnome.nix
  nixos/gui.nix
Due: none

Update
  home/home.nix
Due: none

Update
  home/config.hs
  home/home.nix
  nixos/xmonad.nix
Due: none

Update
  home/home.nix
  nixos/xmonad.nix
Due: none

Update
  home/fish.nix
  init.sh
Due: sh-format

Update
  darwin/darwin-configuration.nix
Due: none

Update
  home/fish.nix
Due: none

Update
  home/home.nix
  home/nixos.nix
  nixos/users.nix
Due: none

Update
  home/config.hs
  home/home.nix
  home/nixos.nix
Due: none

Update
  home/git.nix
  home/home.nix
Due: none

Update
  darwin/darwin-configuration.nix
  home/darwin.nix
  home/fish.nix
  home/home.nix
  home/nixos.nix
Due: none

Update
  home/home.nix
  home/nixos.nix
Due: none
